@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
// @include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
// @include foundation-callout;
@include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/home';
@import "partials/paradeiser";
@import 'partials/footer';
@import "partials/resume";
@import "partials/gallery";
@import "partials/404";
@import "partials/galleryItem.scss";
@import "partials/embed";
@import "partials/contact";



//Pushing content down so that Paradeiser sits at top of page (no overlap)
body {
	margin-top: 50px;
	@media (min-width: 768px) {
		margin-top: 75px;
	}
}

.no-push {
	margin-top: 0;
}

h1 {
	font-family: $fjalla-header-font-family;
	text-transform: uppercase;
}

.clearfix {
	@include clearfix;
}

.button-no-marg {
	margin: 0;
}

a.button {
	cursor: pointer;
}

a.red-elmnt.button {
	background: $c-red;

	&:hover {
		background: darken($c-red, 10%);
	}

  &:active {
    background: darken($c-red, 10%);
  }
}

a.yellow-elmnt.button {
	background: $c-yellow;

	&:hover {
		background: darken($c-yellow, 10%);
	}

  &:active {
    background: darken($c-yellow, 10%);
  }
}

a.blue-elmnt.button {
	background: $c-blue;

	&:hover {
		background: darken($c-blue, 10%);
	}

  &:active {
    background: darken($c-blue, 10%);
  }
}

a.green-elmnt.button {
	background: $c-green;

	&:hover {
		background: darken($c-green, 10%);
	}

  &:active {
    background: darken($c-green, 10%);
  }
}

a.red2-elmnt.button {
	background: $c-red-2;

	&:hover {
		background: darken($c-red-2, 10%);
	}

  &:active {
    background: darken($c-red-2, 10%);
	}
}

a.orange-elmnt.button {
	background: $c-orange;

	&:hover {
		background: darken($c-orange, 10%);
	}

  &:active {
    background: darken($c-orange, 10%);
	}
}

a.blue-link {
	color: $c-blue;

	&:hover {
		color: darken($c-blue, 10%);
	}

  &:active {
    color: darken($c-blue, 10%);
  }
}

a.green-link {
	color: $c-green;

	&:hover {
		color: darken($c-green, 10%);
	}

  &:active {
    color: darken($c-green, 10%);
  }
}

a.orange-link {
	color: $c-orange;

	&:hover {
		color: darken($c-orange, 10%);
	}

  &:active {
    color: darken($c-orange, 10%);
  }
}

a.button.hollow.teal-elmnt {
	border: 1px solid $c-teal;
	color: $c-teal;

	&:hover {
		background: $c-teal;
		color: $white;
	}

  &:active {
    background: darken($c-teal, 10%);
  }

}

.blue-elmnt.divider {
	border-bottom: 4px solid $c-blue;
}

.red-elmnt.divider {
  border-bottom: 4px solid $c-red;
}

.red-2-elmnt.divider {
  border-bottom: 4px solid $c-red-2;
}

.yellow-elmnt.divider {
  border-bottom: 4px solid $c-yellow;
}

.green-elmnt.divider {
  border-bottom: 4px solid $c-green;
}

.orange-elmnt.divider {
  border-bottom: 4px solid $c-orange;
}
