.text-hero {
	width: 100%;
	height: 512px;
	max-height: 768px;
	color: white;
	background: #064c65;
	position: relative;
	overflow: hidden;

	.text-hero-block {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.orange {
		background: #ED6D22;
	}
	&.red {
		background: #D0462D;
	}
	&.green {
		background: #6FC87B;
	}
	&.yellow {
		background: #EDCA18;
	}
	&.red-2 {
		background: #E33F2D;
	}
}

.gallery-text {
	margin: 0 auto;
	max-width: 420px;
	margin-top: 50px;

	h2 {
		font-size: 18px;
		text-transform: uppercase;
	}
}
