RewriteBase /
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.joshkissel.com$ [NC]
RewriteRule ^(.*)$ http://joshkissel.com$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://johskissel.com$1 [R=301,L]

ErrorDocument 404 404.html
