footer {
	color: $white;
	background-color: #0a2022;
	min-height: 140px;
	overflow: hidden;

	a {
		color: $white;
		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}
	}
	ul {
		margin-left: 0;
		margin-bottom: 0;
	}

	@media (min-width: 640px) {
		height: 140px;
	}
}

.copyright {
text-align: center;
font-size: 12px;
list-style: none;
padding: 15px 0;

	@media (min-width: 640px) {
		margin: 60.5px 0;
	}
}

.social {
	font-size: 12px;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	display: block;
	background: rgba(255, 255, 255, .025);

	li {
		padding: 13.5px 0;
		list-style-type: none;
		text-align: center;

		&:hover {
			background: rgba(255, 255, 255, .05);
		}
	}
	@media (min-width: 640px) {
		height: 140px;

		li {
			padding: 3px 0;
		}
	}
}

ul.social {
	padding: 10px 0;
}
