$menu-background: #fff;

.top-bar {
  background: $menu-background;
	text-transform: uppercase;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

        a {
          color: $black;
      }
    }
  }
}

.menu-text {
  color: $black;
	font-family: $fjalla-header-font-family;
	font-size: 20px;
}

.nav-right {
	float: right;
}

.nav-left {
	float: left;
}
